*{
    margin: 0;
    padding: 0;
} 
a{
    text-decoration: none;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Bold.woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Medium.woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-SemiBold.woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}


body{
    font-family: "Gilroy";
}



.center{
    padding-left: calc(50% - 587px);
    padding-right: calc(50% - 587px);
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 45px;
}

.header_menu{
    display: flex;
    gap: 26.3px;
    justify-content: space-between;
}

.header_links{
    font-size: 14px;
    line-height: 16px;
    color: #000;
    fill: #F25822;
}

a:hover{
    color: #F25822;
}


.top_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 94px;
}
.top_info{
    margin-bottom: 17px;
}

.title{
    width: 522px;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.text{
    width: 466px;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.top_buttons{
    display: flex;
    margin-top: 37px;
    justify-content: flex-start;
    align-items: center;
    gap: 72px;
}

.button_orange{
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgb(242 88 34 / 20%);
    border-radius: 50px;
    border-color: rgb(242 88 34 / 20%);
}

.button_watch{
    width: 90px;
    height: 19px;

    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    border: none;
    background-color: white;
}
.top_logos{
    margin-top: 162px;
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;
}

.item_content{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}

.item{
    background: #FFFFFF;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 25px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    

}

.shadow{
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
  
.heading{
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    color: #000000;
}

.item_text{
    width: 310px;
    font-style: normal;
    font-size: 15px;
    line-height: 150%;
    text-align: left;
    vertical-align: top;
    color:#666666;
    
}

.item_btn{
    height: 17px;
    width: 64px;
    font-size: 11px;
    line-height: 16px;
    text-align: left;
    color: #000000;
    border: none;
    background-color: white;
    
}

.shadow_large{
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.section_bottom{
    
    padding-top: 92px;
    padding-bottom: 100px;
    display: grid;
    justify-items: center;
    
}

.color{
    background: #FAFAFA;
}

.section_info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 54px;
}

.info_title{
    margin-bottom: 19px;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
}

.info_text{
    text-align: center;
    width: 682px;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
}

.section{
    background: #FFFFFF;
    width: 370px;
    padding-bottom: 50px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
        
}

.section_heading{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 22px;
    
}

.section_text{
    width: 310px;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #AAAAAA;
    margin-bottom: 39px;
}




